body {
    width: 100%;
    height: 100vw;
    overflow-x: hidden;
    }
    .text_block_1 {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.5vw;
        color: #ffffff;
        padding: 2%;
        width: 60%;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1vh;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .img_container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
        width: 98%;
        z-index: 3;
    }
    
    .img_container img {
        height: auto;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    /* Текстовые блоки */
    .text_block_2 {
        width: 35%;
        margin: 3vh auto;
        display: flex;
        margin-left: 7%;
    }
    
    .text_block_2 img {
        width: 100%;
        height: auto;
    }
    
    .text_block_3 {
        width: 45%;
        margin: 3vh auto;
        display: flex;
        margin-right: 7%;
    }
    
    .text_block_3 img {
        width: 100%;
        height: auto;
    }
    
    .model_case_3d {
        position: absolute;
        top: 20vh; /* Такой же, как у img_container */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83%;
        z-index: 2;
    }
    
    .model_case_3d img {
        width: 100%;
        height: auto;
    }
    
    .model_case_3d_hole {
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    .model_case_3d_hole img {
        width: 86%;
        height: auto;
        transform-origin: center;
        animation: rotateImage 1s infinite linear;
    }
    
    @keyframes rotateImage {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .texture-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url("images/image_60.png") repeat;
        pointer-events: none;
        z-index: 9999;
    }
    
    .black-hole {
        position: fixed;
        margin-top: 1%;
        left: 50%;
        transform: translateX(-50%);
        width: 20vw;
        height: 20vw;
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
        border-radius: 50%;
        opacity: 0.5;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
        z-index: -2;
    }
    
    .draggable {
        cursor: grab;
        user-select: none;
    }
    
    .falling {
        animation: fallToBlackHole 1s ease-in forwards;
    }
    
    @keyframes fallToBlackHole {
        0% {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
        50% {
            transform: scale(0.5) rotate(180deg);
            opacity: 0.5;
        }
        100% {
            transform: scale(0) rotate(360deg);
            opacity: 0;
        }
    }
    .block{
        display: block;
    }
    .my_common_screen {
        transition: opacity 1.5s ease-out;
    }
    
    
    .hidden {
        display: none;
    }
    
    .section2 {
        width: 100%;
        height: 60vw;
        background: rgb(0, 0, 0);
        position: relative;
    }
    
    .my_common_screen{
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, #000000 0%, #000000 54%, #232222 100%);
        overflow: hidden;
        transition: transform 1.5s ease-in-out, opacity 1.5s, filter 1.5s;
    }

    html, body {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: (to bottom, #000000 0%, #000000 54%, #232222 100%);
    }

    .head_case {
            position: absolute;
            top: 20vh; /* Такой же, как у img_container */
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 83%;
            z-index: 2;
            background-color: #ffffff;
    }
